@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@layer components {
  .btn-primary {
    background-color: #ec4899; /* Tailwind bg-pink-500 */
    color: #fff; /* Tailwind text-white */
    font-weight: bold; /* Tailwind font-bold */
    padding-top: 0.75rem; /* Tailwind py-3 */
    padding-bottom: 0.75rem;
    padding-left: 1.5rem; /* Tailwind px-6 */
    padding-right: 1.5rem;
    border-radius: 9999px; /* Tailwind rounded-full */
    transition: all 0.3s; /* Tailwind transition-all duration-300 */
  }
  .btn-primary:hover {
    background-color: #db2777; /* Tailwind hover:bg-pink-600 */
  }

  .floating-animation {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}